<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->


	<bean id="laptop" class="com.xworkz.laptop.Laptop">
	</bean>

	<bean id="doctor" class="com.xworkz.laptop.Doctor">
	</bean>

	<bean id="corona" class="com.xworkz.laptop.Corona">
	</bean>

	<bean id="minister" class="com.xworkz.laptop.Minister">
	</bean>

	<bean id="juice" class="com.xworkz.laptop.Minister">
	</bean>

	<bean id="mask" class="com.xworkz.laptop.Mask"></bean>

	<bean id="oximeter" class="com.xworkz.laptop.Oximeter">
	</bean>
	<bean id="oximeter2" class="com.xworkz.laptop.Oximeter">
	</bean>
	<bean id="paint" class="com.xworkz.laptop.Paint">
	</bean>
	<bean id="paint2" class="com.xworkz.laptop.Paint">
	</bean>
	<bean id="purifier" class="com.xworkz.laptop.Purifier">
	</bean>
	<bean id="purifier2" class="com.xworkz.laptop.Purifier">
	</bean>
	<bean id="sanitizer" class="com.xworkz.laptop.Sanitizer">
	</bean>
	<bean id="sanitizer2" class="com.xworkz.laptop.Sanitizer">
	</bean>

	<bean id="steamer" class="com.xworkz.laptop.Steamer">
	</bean>
	<bean id="steamer2" class="com.xworkz.laptop.Steamer">
	</bean>
	<bean id="tablet" class="com.xworkz.laptop.Tablet">
	</bean>
	<bean id="tablet2" class="com.xworkz.laptop.Tablet">
	</bean>
	<bean id="tissue" class="com.xworkz.laptop.Tissue">
	</bean>
	<bean id="tissue2" class="com.xworkz.laptop.Tissue">
	</bean>


</beans>